@import "tailwindcss";
/* *{
    background-color: black;
} */
h1, h2, h3, h4 {
    font-family: var(--font-poppins);
  }

  body {
    font-family: var(--font-inter);
  }

  .alt {
    font-family: var(--font-montserrat);
  }
  

  /* globals.css */
html {
  scroll-behavior: smooth; /* smooth for anchor links and scrollIntoView() */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* optional: make anchor focus outlines nicer when using smooth jump */
:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  box-shadow: 0 0 0 3px rgba(255,123,0,0.12);
}

  